# ignore .Rproj and R stacks
*.RData
*.Rproj
*.Rhistory
.Rproj.user

# ignore Folders
exclude/

# ignore R vignettes cache
vignettes/SyntenyViz_workflow_cache/

# ignore logs
*.log

# ignore aux
*.swp
