# ignore .Rproj and R stacks
*.RData
*.Rproj
*.Rhistory
.Rproj.user

## Dev stack
*.Rprofile
*.Renviron

# ignore Folders
exclude/

# ignore R vignettes cache
vignettes/SyntenyViz_workflow_cache/

# ignore logs
*.log

# ignore aux
*.swp
.DS_Store

prompts/
*dev-docs/features/
*secret*

*node_modules/
*package-lock.json
*package.json
/Meta/