<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title | escape }} | {% endif %}{{ site.title | escape }}</title>
    <meta name="description" content="{{ page.description | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

    {% if site.github.is_project_page %}
      <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | default: '1' | relative_url }}">
    {% else %}
      <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    {% endif %}
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print">

    {% include analytics.html %}
  </head>
  <body>
    <header>
      <div class="container">
        <h1><a href="{{ '/' | relative_url }}">{{ site.title | escape }}</a></h1>
        <h2>{{ site.description | escape }}</h2>

        {% if site.github.is_project_page or site.show_downloads %}
          <section id="downloads">
            {% include download_links.html %}
          </section>
        {% endif %}
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>

    <footer>
      <div class="container">
        <p>
          <small>
            This project is maintained by <a href="{{ site.github.owner_url | default: 'https://github.com/DPP4ResearchGroup' }}">{{ site.github.owner_name | default: 'DPP4ResearchGroup' }}</a><br>
            Hosted on GitHub Pages — Theme by <a href="https://github.com/pages-themes/midnight">pages-themes/midnight</a>
          </small>
        </p>
      </div>
    </footer>
  </body>
</html>
